<?xml version="1.0" encoding="UTF-8"?>
<feature
      id="kieker.tools.al.sdk"
      label="Kieker IAL SDK Feature"
      version="#VERSION#">

   <plugin
         id="kieker.tools.al"
         download-size="0"
         install-size="0"
         version="#VERSION#"
         unpack="false"/>

   <plugin
         id="kieker.tools.al.ui"
         download-size="0"
         install-size="0"
         version="#VERSION#"
         unpack="false"/>

</feature>
