<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="kieker.develop.al.handler.java.ModelMapper"
         name="Java Model Mapper"
         point="kieker.develop.al.modelMapping">
      <mapper
            mappingHandler="kieker.develop.al.handler.java.JavaModelMapper">
      </mapper>
   </extension>
</plugin>
