/AbstractEvent.java
/ICallObjectRecord.java
/ICallRecord.java
/IConstructorRecord.java
/IEventRecord.java
/IExceptionRecord.java
/IFlowRecord.java
/IObjectRecord.java
/IOperationRecord.java
/ITraceRecord.java
