<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PCMCorrespondenceModel -->
      <package
            uri="http://www.iobserve-devops.net/pcm/rac"
            class="kieker.develop.al.handler.pcm.rac.RacPackage"/>
   </extension>

</plugin>
