<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="kieker.develop.al.handler.pcm.ModelMapper"
         name="PCM Model Mapper"
         point="kieker.develop.al.modelMapping">
      <mapper
            mappingHandler="kieker.develop.al.handler.pcm.PCMModelMapper">
      </mapper>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PCMCorrespondenceModel -->
      <package
            uri="http://www.kieker-monitoring.net/pcm/rac"
            class="kieker.develop.al.handler.pcm.rac.RacPackage"
            genModel="model/PCMCorrespondenceModel.genmodel"/>
   </extension>

</plugin>
