<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cau.de/cs/se/instrumentation/al/ApplicationLang" 
       class = "de.cau.cs.se.instrumentation.al.applicationLang.ApplicationLangPackage"
       genModel = "de/cau/cs/se/instrumentation/al/ApplicationLang.genmodel" /> 
	
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModelStructure -->
      <package
            uri="http://modelstructure.se.cs.cau.de/structure"
            class="de.cau.cs.se.instrumentation.model.structure.StructurePackage"
            genModel="model/ModelStructure.genmodel"/>
   </extension>

</plugin>
