<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cau.de/cs/se/instrumentation/al/ApplicationLang" 
       class = "de.cau.cs.se.instrumentation.al.applicationLang.ApplicationLangPackage"
       genModel = "de/cau/cs/se/instrumentation/al/ApplicationLang.genmodel" /> 
	
  </extension>



</plugin>
