# ignore those files
*/bin/*
/de.cau.cs.se.kieker.service.testclient/autoscan.log
/de.cau.cs.se.kieker.service.testclient/config.log
/doc/kieker-workshop/idl-slides.tex
/doc/kieker-workshop/kdb-slides.tex
**~
**.toc
**.aux
**.bbl
**.blg
**.log
**.nav
**.out
**.snm
**.vrb
**._trace
doc/kieker-workshop/images/kieker-data-bridge.pdf
**/*.launch
**/.launch/**
**/plugin.xml_gen
/**/src/kieker/.deps/*
/**/src/kieker/libkieker.la
/**/src/kieker/.libs/*
/**/.deps/*
/**/.libs/*
/**/runtime-M4DSL/*
/**/Makefile
/**/libkiekermon/libkiekermon*
/**/exampleProgram/exampleProgram*
/**/kieker4c/**/Makefile

*/.antlr-generator-3.2.0-patch.jar
