<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
	   <diagramSynthesis
	         class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:kieker.architecture.visualization.KiekerArchitectureAssemblyDiagramSynthesis"
	         id="kieker.architecture.visualization.KiekerArchitectureAssemblyDiagramSynthesis">
	   </diagramSynthesis>
   </extension>

   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
	   <diagramSynthesis
	         class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:kieker.architecture.visualization.KiekerArchitectureExecutionDiagramSynthesis"
	         id="kieker.architecture.visualization.KiekerArchitectureExecutionDiagramSynthesis">
	   </diagramSynthesis>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated analysismodel -->
      <package
            uri="http://kieker-monitoring.net/analysismodel"
            class="kieker.model.analysismodel.AnalysismodelPackage"
            genModel="model/analysismodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated analysismodel -->
      <package
            uri="platform:/resource/Kieker/model/analysismodel.ecore/statistics"
            class="kieker.model.analysismodel.statistics.StatisticsPackage"
            genModel="model/analysismodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated analysismodel -->
      <package
            uri="platform:/resource/Kieker/model/analysismodel.ecore/type"
            class="kieker.model.analysismodel.type.TypePackage"
            genModel="model/analysismodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated analysismodel -->
      <package
            uri="platform:/resource/Kieker/model/analysismodel.ecore/assembly"
            class="kieker.model.analysismodel.assembly.AssemblyPackage"
            genModel="model/analysismodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated analysismodel -->
      <package
            uri="platform:/resource/Kieker/model/analysismodel.ecore/deployment"
            class="kieker.model.analysismodel.deployment.DeploymentPackage"
            genModel="model/analysismodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated analysismodel -->
      <package
            uri="platform:/resource/Kieker/model/analysismodel.ecore/execution"
            class="kieker.model.analysismodel.execution.ExecutionPackage"
            genModel="model/analysismodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated analysismodel -->
      <package
            uri="platform:/resource/Kieker/model/analysismodel.ecore/trace"
            class="kieker.model.analysismodel.trace.TracePackage"
            genModel="model/analysismodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated analysismodel -->
      <package
            uri="platform:/resource/Kieker/model/analysismodel.ecore/source"
            class="kieker.model.analysismodel.source.SourcePackage"
            genModel="model/analysismodel.genmodel"/>
   </extension>

</plugin>
