<?xml version="1.0" encoding="UTF-8"?>
<site>
   <feature url="features/kieker.tools.al.sdk_#VERSION#.jar" id="kieker.tools.al.sdk" version="#VERSION#">
      <category name="kieker.tools"/>
   </feature>
   <feature url="features/kieker.tools.rl.sdk_#VERSION#.jar" id="kieker.tools.rl.sdk" version="#VERSION#">
      <category name="kieker.tools"/>
   </feature>
   <category-def name="kieker.tools" label="Instrumentation Languages"/>
</site>
