<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="kieker.develop">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-09"/>
			<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.18.0.v20210617-1748"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.27.0.v20210816-1137"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.25.0.v20210301-1429"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://updatesite.palladio-simulator.com/palladio-build-updatesite/releases/latest/"/>
			<unit id="org.palladiosimulator.pcm.feature.feature.group" version="5.0.0.202102051710"/>
		</location>
	</locations>
	<environment>
		<os>linux</os>
		<arch>x86_64</arch>
		<ws>gtk</ws>
	</environment>
</target>