<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="kieker.develop">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2022-12"/>
			<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.23.0.v20221121-1400"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.32.0.v20221121-1400"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.29.0.v20221121-1054"/>
			<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
      		<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      		<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
      		<unit id="org.eclipse.emf.ecore.xcore.lib.feature.group" version="0.0.0"/>
      		<unit id="org.eclipse.emf.transaction" version="0.0.0"/>
      		<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      		<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://updatesite.palladio-simulator.com/palladio-build-updatesite/releases/latest/"/>
			<unit id="org.palladiosimulator.pcm.feature.feature.group" version="5.1.0.202201251356"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/elk/updates/releases/0.8.1/"/>
			<unit id="org.eclipse.elk.algorithms.feature.feature.group" version="0.8.1"/>
			<unit id="org.eclipse.elk.feature.feature.group" version="0.8.1"/>
			<unit id="org.eclipse.elk.gmf.feature.feature.group" version="0.8.1"/>
			<unit id="org.eclipse.elk.graph.json.feature.feature.group" version="0.8.1"/>
			<unit id="org.eclipse.elk.graphviz.feature.feature.group" version="0.8.1"/>
			<unit id="org.eclipse.elk.sdk.feature.feature.group" version="0.8.1"/>
			<unit id="org.eclipse.elk.ui.feature.feature.group" version="0.8.1"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://kieler.github.io/KLighD/v2.1.0/"/>
			<unit id="de.cau.cs.kieler.klighd.batik.feature.feature.group" version="2.1.0.v20210615"/>
			<unit id="de.cau.cs.kieler.klighd.draw2d.feature.feature.group" version="2.1.0.v20210615"/>
			<unit id="de.cau.cs.kieler.klighd.feature.feature.group" version="2.1.0.v20210615"/>
			<unit id="de.cau.cs.kieler.klighd.freehep.feature.feature.group" version="2.1.0.v20210615"/>
			<unit id="de.cau.cs.kieler.klighd.ide.feature.feature.group" version="2.1.0.v20210615"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      		<unit id="de.cau.cs.kieler.klighd.lsp" version="0.0.0"/>
      		<unit id="de.cau.cs.kieler.kgraph.text.ide" version="0.0.0"/>
      		<unit id="de.cau.cs.kieler.klighd.view.feature.feature.group" version="0.0.0"/>
      		<repository location="https://kieler.github.io/KLighD/v2.2.0/"/>
    	</location>
    	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      		<unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.0.0"/>
      		<repository location="https://download.eclipse.org/lsp4j/updates/releases/0.14.0/"/>
    	</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      		<unit id="org.eclipse.sprotty" version="0.0.0"/>
      		<repository location="https://rtsys.informatik.uni-kiel.de/~kieler/updatesite/sprotty/0.9.0/"/>
    	</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      		<unit id="com.google.gson" version="0.0.0"/>
      		<unit id="com.google.inject" version="0.0.0"/>
      		<unit id="jakarta.servlet" version="0.0.0"/>
      		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220531185310/repository/"/>
    	</location>
	</locations>
	<environment>
		<os>linux</os>
		<arch>x86_64</arch>
		<ws>gtk</ws>
	</environment>
</target>
