<?xml version="1.0" encoding="UTF-8"?>
<site>
   <feature url="features/kieker.develop.al.sdk_#VERSION#.jar" id="kieker.develop.al.sdk" version="#VERSION#">
      <category name="kieker.develop"/>
   </feature>
   <feature url="features/kieker.develop.rl.sdk_#VERSION#.jar" id="kieker.develop.rl.sdk" version="#VERSION#">
      <category name="kieker.develop"/>
   </feature>
   <category-def name="kieker.develop" label="Instrumentation Languages"/>
</site>
