/.MyPredicate.java._trace
/.URIPredicate.java._trace
/.EPackageScope.java._trace
/.PackageContentScope.java._trace
/EPackageScope.java
/PackageContentScope.java
/.ContainerParentScope.java._trace
/ContainerParentScope.java
/.AspectLangScopeProvider.java._trace
/AspectLangScopeProvider.java
