<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="kieker.develop.rl.cli.CompilerMain">
         </run>
      </application>
   </extension>
   <extension
         id="IRL_CLI_Compiler"
         point="org.eclipse.core.runtime.products">
      <product
            application="kieker.develop.rl.cli.application"
            name="IRL CLI Compiler">
         <property
               name="appName"
               value="IRL CLI Compiler">
         </property>
      </product>
   </extension>

</plugin>
