<?xml version="1.0" encoding="UTF-8"?>
<project>
  <modelVersion>4.0.0</modelVersion>

  <parent>
    <relativePath>../kieker.tools.releng/pom.xml</relativePath>
    <groupId>kieker.tools</groupId>
    <artifactId>parent</artifactId>
    <version>#VERSION#</version>
  </parent>

  <artifactId>kieker.tools.rl.sdk</artifactId>
  <packaging>eclipse-feature</packaging>

  <name>Instrumentation Record Language Feature</name>
</project>