<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cau.de/se/instrumentation/language/ProbeLang" 
       class = "de.cau.se.instrumentation.language.probeLang.ProbeLangPackage"
       genModel = "de/cau/se/instrumentation/language/ProbeLang.genmodel" /> 
	
  </extension>





</plugin>
