<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.cau.cs.se.instrumentation.al.handler.pcm.ModelMapper"
         name="PCM Model Mapper"
         point="de.cau.cs.se.instrumentation.al.modelMapping">
      <mapper
            class="de.cau.cs.se.instrumentation.al.handler.pcm.PCMModelMapper">
      </mapper>
   </extension>

</plugin>
