<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="kieker.develop.al.generator.provider">
      <configuration
            provider="kieker.develop.al.generator.java.JavaConfigurationGeneratorProvider"></configuration>
      <advice
            provider="kieker.develop.al.generator.java.JavaAdviceGeneratorProvider"></advice>
   </extension>

</plugin>
