<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.cau.cs.se.kieker.service.launch.KiekerServiceLaunchConfigurationDelegate"
            id="de.cau.cs.se.kieker.service.launch.KiekerServiceLaunchConfigurationDelegate"
            modes="run, debug"
            name="Kieker Service">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.cau.cs.se.kieker.service.launch.KiekerServiceLaunchConfigurationDelegate"
            icon="icons/server.gif"
            id="de.cau.cs.se.kieker.service.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.cau.cs.se.kieker.service.launch.ServiceLaunchTabGroup"
            id="de.cau.cs.se.kieker.service.launch.ServiceLaunchTabGroup"
            type="de.cau.cs.se.kieker.service.launch.KiekerServiceLaunchConfigurationDelegate">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
