<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="modelMapping" name="Model Mapping" schema="schema/modelMapping.exsd"/>
   <extension-point id="generator.provider" name="GeneratorProvider" schema="schema/kieker.develop.al.generator.provider.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
         uri = "http://www.develop.kieker/al/AspectLang"
         class = "kieker.develop.al.aspectLang.AspectLangPackage"
         genModel = "model/generated/AspectLang.genmodel" />
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MappingModel -->
      <package
            uri="http://mappingmodel.tools.kieker/ial/mapping"
            class="kieker.develop.al.mapping.MappingPackage"
            genModel="model/MappingModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IntermediateModel -->
      <package
            uri="http://mappingmodel.tools.kieker/ial/intermediate"
            class="kieker.develop.al.intermediate.IntermediatePackage"
            genModel="model/IntermediateModel.genmodel"/>
   </extension>

</plugin>
