<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="modelMapping" name="Model Mapping" schema="schema/modelMapping.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cau.de/cs/se/instrumentation/al/AspectLang" 
       class = "kieker.develop.al.aspectLang.AspectLangPackage"
       genModel = "model/generated/AspectLang.genmodel" /> 
	
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModelMapping -->
      <package
            uri="http://mappingmodel.tools.kieker/ial/mapping"
            class="kieker.develop.al.mapping.MappingPackage"
            genModel="model/MappingModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated example -->
      <package
            uri="kieker.develop.al"
            class="kieker.develop.al.AlPackage"
            genModel="src/graphmodel/model/example.xcore"/>
   </extension>

</plugin>
